{% extends 'admi/dashboard.html' %}
{% block content %}

<h3 class="bookingHeading">Comleted Booking</h3>

<br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Booking ID</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Date&Time</th>
        <th scope="col">Booking Status</th>
        <th scope="col">Service Status</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Altis</td>
        <td>4/8/22 12pm</td>
        <td>Booked</td>
        <td>Completed</td>
        <td>Completed</Command></td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;<button type="BUtton" class="btn btn-danger btn-sm btnsz cb"><span class="cbk">Cancel Booking</span></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Altis</td>
        <td>4/8/22 3pm</td>
        <td>Booked</td>
        <td>Completed</td>
        <td>Completed</td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;<button type="BUtton" class="btn btn-danger btnsz cb"><span class="cbk">Cancel Booking</span></button></td>
      </tr>
    </tbody>
  </table>

  <div class="bbbt"><a href="{% url 'booking' %}">
    <button type="button" class="btn btn-primary">Book a Car</button></a>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="history.back()">Back to Home</button>
  </div>
  </div>


{% endblock %}