{% extends 'admi/dashboard.html' %}
{% block content %}

        
       <h2 class="empHeading">Employee Management</h2>
       


<br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Emp_ID</th>
        <th scope="col">Emp_Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">DOB</th>
        <th scope="col">shift</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>100</td>
        <td>Abhinav TP</td>
        <td>989656748</td>
        <td>Kattangal</td>
        <td>19/01/2002</td>
        <td>7PM-1PM</td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>101</td>
        <td>Anwer</td>
        <td>87688846</td>
        <td>Koduvally</td>
        <td>21/5/1999</td>
        <td>7PM-1PM</td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>103</td>
        <td>Favas M</td>
        <td>9098756430</td>
        <td>Kunnamangalam</td>
        <td>4/5/2000</td>
        <td>1PM-6PM</td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>104</td>
        <td>Misbah PK</td>
        <td>9870654628</td>
        <td>Kattangal</td>
        <td>17/9/1999</td>
        <td>1PM-6PM</td>
        <td><button type="button" class="btn btn-secondary btnsz">Edit</button>&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <div class="bbbt"><a href="{% url 'employee_register' %}">
    <button type="button" class="btn btn-primary">Add Employee</button></a>
    <br><br>
   <a href="{% url 'dashboard' %}"> <button type="button" class="btn btn-primary">Back to Home</button></a>
  </div>
  </div>





    <!-- </body>

</html> -->

{% endblock %}